/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root{
  /* colors */
  --white-color:#fff;
  --dark-color:#252525;
  --primary-color:#3b141c;
  --secondary-color:#f3961c;
  --light-pink-color:#faf4f5;
  --medium-gray-color:#ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500; 
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --size-max-width: 1330px;
}

/* Styling for whole site */
ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  background: none;
}

img{
  width: 100%;
}

.section-content{
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--size-max-width);
}

/* Navbar styling */
header{
  background: var(--primary-color);
}

header .navbar{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-logo .logo-text{
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu{
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link{
  padding: 10px 18px;
  color: var(--white-color);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
  background: var(--secondary-color);
  color: var(--white-color);  
}